@font-face {
font-family: "BebasNeue";
src: url("src/font/BebasNeue.otf");
}

@font-face {
font-family: "Trajan Pro";
src: url("src/font/Trajan_Pro_Regular.ttf");
}

@font-face {
font-family: "CoveredByYourGrace";
src: url("src/font/CoveredByYourGrace.ttf");
}

@font-face {
font-family: "TrashHand";
src: url("src/font/TrashHand.ttf");
}

@font-face {
font-family: "GothamRoundedMedium";
src: url("src/font/Gotham Rounded Medium.otf");
}



body {
    background-image: url("src/background.png");
    background-repeat: no-repeat;
}

.container-fluid{
	margin-left: 16%;
	width:84%; 
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.row-centered{
	text-align: center;
	margin-right: 18%;
}

.col-centered{
	display: inline-block;
	float: none;
	text-align: left;
	margin-right: 2%;
}

/******** HEADER ********/

.header{
	width: 84%;
}

.place-nav ul{
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
}

.place-nav ul li{
	
	float: left;
	margin-left: 1.1rem;
	margin-top: 2%;
	color: white;
	font-family: 'GothamRoundedMedium', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-size: 0.58rem;
	font-stretch:  ultra-expanded;
	
}

#first-li{
	list-style: none;
}

#tongue{
	height: 30%;
	margin-left: 5%;
}

.dropdown{
}

#logo{
	padding-top: 6%;
	margin-left: 0;
}

.row.menu{
	margin-left: 0%;
	width: 100%;
}

.row.menu a{
	color: white;
	font-family:'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
}

/*#hr1{
	height: 1%;
}

#hr2{
	height: 1%;
}*/

/******** HEADER ********/

/******** BODY ********/

#carouselExampleControls{
	margin-top: 2%;
	position: absolute;
	z-index: -10;
	width: 103%;
}

#cadreCar{
	margin-top: 0.6%;
	margin-left: -8%;
	width: 125%;
}

#decor-box-1{
	margin: 3.7rem auto;
	margin-top: 10%;
}

.col{
	height: 70%;
}

.body1{
	margin-top: 0%;
	width: 89%;
}

.body2{
	margin-top: 1%;
	width: 89%;
}

.corp1{
	background-image: url('src/corp1.png');
}

.corp2{
	background-image: url('src/corp2.png');
	padding:0;
}


.corp3{
	background-image: url('src/corp3.png');
}


.corp4{
	background-image: url('src/corp4.png');
	padding:0;
}

#decor-box-1{
	margin: 3.7rem auto;
	margin-top: 6%;
}

#footer{
	padding: 0.87rem 0;
	margin-bottom: 0;
	margin-left: 6rem;
}

#footer3{
	padding: 0.87rem 0;
	margin-left: 2rem;
}

#footer4{
	padding: 0.87rem 0;
	margin-left: 0rem;
}

#footer-box-1{	
	font-family: 'Trajan Pro', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#footer2-box-1{
	font-family: 'CoveredByYourGrace', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	color: palevioletred;
}
.pink{
	color: palevioletred;
}

#spacer1{
	height: 320px;
	width: 100%;
}

#spacer2{
	width: 100%;
	height: 190px;
}
#spacer3{
	width: 100%;
	height: 204px;
}

#footer-box-2{
	padding: 1.8rem 0;
	margin-bottom: 0;
	margin-left: 6rem;
	font-family: 'CoveredByYourGrace', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.footer-box-3{	
	color: 	#616A6B;
	font-family:'BebasNeue', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-weight: bold;
	margin-left: 1%;
}

.footer-box-4{	
	color: 	#FFC300;
	font-family:'BebasNeue', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-weight: bold;
	margin-left: 1%;
}
/******** BODY ********/

/******** FOOTER ********/

.footer{
	margin-top: 3%;
}

/******** FOOTER ********/
